* {
    font-family: Arial;
    font-size: 18px;

}

body, html{
    /*background-color: blueviolet;*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font: normal Arial 16px 
}

header{
    background-color: rgb(228, 213, 180);
    width: 92%;
    /* height: 50px; */
    margin: auto;
    /* left: 3%; */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.470);
    border-radius: 10px;  /* BORDAS ARREDONDADAS */
    padding: 15px;
    /* position: fixed; */
    
}

footer{
    bottom: 0;
}

#conteudo{
    margin: auto;
    width: 92%;
    height: 100%;
}

.main{
    color: rgb(228, 213, 180);
    background-color:rgba(0, 0, 0, 0.8);
    width: 92%;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.470);
    border-radius: 10px;  /* BORDAS ARREDONDADAS */
    padding: 15px;
}

.espaco{
    /* width: 92px; */
    height: 150px;
}

#div-intro{
    color: blue;
}

#div-logo{
   background-color:rgba(146, 26, 26, 0.8);
   display: inline-block;

}

#div-menu{
    position: absolute;
    right: 8%;
    
    background-color:rgba(26, 34, 146, 0.8);
    /* float: right; */
    display: inline-block;
    
}